<div 
    style="margin: 0 auto; position: fixed; top: 1rem; bottom: 1rem; left: 1rem; right: 1rem; z-index: 300"
    class="p-2 col-5 scrollbar1"
>
    <button class="btn-1 align-items-center rounded-circle d-flex justify-content-center" style="height: 2rem; width: 2rem;" (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
    <div 
        style="background-color: #fff; border: 2px solid var(--main-color); border-radius: 0.5rem; max-height: 22rem; overflow-y: scroll;"
        class="p-2 scrollbar1"
    >
        <input 
            type="text" 
            class="text-field col-12 mb-3" 
            placeholder="Search a collection"
            name="term"
            [(ngModel)]="term"
        >
        <div class="d-flex col-12" style="flex-direction: column;">
            <ng-container *ngFor="let collection of collections; let i = index;">
                <button 
                    *ngIf="includesIgnoreCase(collection.title, term)"
                    class="my-1 no-btn" 
                    style="width: 100%!important; text-align: left;"
                    (click)="toggleAddToCollection(collection)"
                >
                    <app-collection 
                        [collection]="collection" 
                        [variant]="'v2'"
                        [isSongInCollection]="isSongInCollection(collection)"
                    ></app-collection>
                </button>
            </ng-container>
        </div>
    </div>
</div>