<div style="height: 80vh; flex-direction: column;" class="d-flex justify-content-center align-items-center">
    <app-back></app-back>
    <h4 class="mb-4 text-center" style="font-weight: bold;">Change Password</h4>
    <div class="my-2">
        <app-error [message]="error"></app-error>
    </div>
    <form 
      class="d-flex col-9" 
      style="flex-direction: column; justify-content: center; align-items: center;" 
      (submit)="changePassword()"
    >
        <input 
            type="password" 
            name="password" 
            id="" 
            class="text-field my-2" 
            placeholder="Password"
            [(ngModel)]="password"
            style="width: 100%;"
        >
        <input 
            type="password" 
            name="confimPassword" 
            id="" 
            class="text-field my-2" 
            placeholder="Confirm password"
            [(ngModel)]="confirmPassword"
            style="width: 100%;"
        >
        <input type="submit" value="Save" class="btn-1">
    </form>
</div>
