<div style="height: 80vh; flex-direction: column;" class="d-flex justify-content-center align-items-center">
    <app-back></app-back>
    <h4 class="mb-4 text-center" style="font-weight: bold;">Change Password</h4>
    <div class="my-2">
        <app-error [message]="error"></app-error>
    </div>
    <form class="d-flex col-9" style="flex-direction: column; align-items: center;" (submit)="changePassword()">
        <input 
            type="password" 
            name="password" 
            id="" 
            class="text-field my-2 col-12" 
            placeholder="Password"
            [(ngModel)]="password"
        >
        <input 
            type="password" 
            name="confimPassword" 
            id="" 
            class="text-field my-2 col-12" 
            placeholder="Confirm password"
            [(ngModel)]="confirmPassword"
        >
        <input type="submit" value="Save" class="btn-1">
    </form>
</div>
