<div 
  [ngClass]="showBorder ? 'avatar-border' : ''" 
  [style.width]="size + 'px'" 
  [style.height]="size + 'px'" 
  [style.borderRadius]="round ? '100%' : '0'"
>
  <div [style.padding]="showBorder ? '2px' : '0'" style="width: 100%; height: 100%; border-radius: inherit;">
    <div
      [style.backgroundImage]="'url(' + src + ')'"
      style="background-repeat: no-repeat; background-position: center; background-size: cover; 
      width: 100%; height: 100%; border-radius: inherit;"
    >
  </div>
  </div>
</div>