<div class="mx-auto my-5 col-12 text-center">
    <app-back></app-back>
    <h4 style="text-align: center; font-weight: bold; font-style: italic;">Register</h4>
    <div class="my-2">
        <app-error [message]="error"></app-error>
    </div>
    <form style="margin: auto; text-align: center;" class="mt-5 col-8" (submit)="signUp()">
        <div class="d-flex mx-auto justify-content-center my-3">
            <input 
                type="text" 
                class="col-5 mx-2 no-outline text-field" 
                placeholder="Username"
                [(ngModel)]="username"
                name="username"
            >
            <input 
                type="text" 
                class="col-7 mx-2 no-outline text-field"
                placeholder="Email"
                [(ngModel)]="email"
                name="email"
            >
        </div>
        <div class="d-flex col-12 mx-auto justify-content-center my-3" style="align-items: center;">
            <div class="col-8" style="margin-right: 1rem;">
                <input 
                    type="password" 
                    class="no-outline text-field my-2 col-12" 
                    placeholder="Password"
                    [(ngModel)]="password"
                    name="password"
                >
                <input 
                    type="password" 
                    class="no-outline text-field my-2 col-12"
                    placeholder="Confirm password"
                    [(ngModel)]="confirmPassword"
                    name="confirmPassword"
                >
            </div>
            <div 
                style="width: 8rem; height: 8rem; position: relative;" 
                class="bg-dark rounded-circle fit-background"
                [style.backgroundImage]="'url(' + pfpUri + ')'"
            >
                <div style="position: absolute; top: 50%; left: 0; right: 0;">
                    <label 
                        for="upload-photo"
                        class="text-light p-1" 
                        style="font-size: 0.7rem; text-transform: uppercase; border: none; background-color: #fff4; border-radius: 1rem; font-weight: bold; cursor: pointer;"
                    >
                        Choose photo
                    </label>
                    <input 
                        type="file" 
                        id="upload-photo" 
                        class="d-none" 
                        (change)="handleChangePfp($event.target.files)"
                    >
                </div>
            </div>
        </div>
        <textarea 
            class="col-12 no-outline text-field" 
            placeholder="Description" 
            rows="5" 
            [(ngModel)]="description"
            name="description"></textarea>
        <input type="submit" value="Sumbit" class="btn-1 mt-4">
    </form>
    <div class="mt-2">
        <a
            class="text1"
            routerLink="/login" 
        >
            LOG IN
        </a>
    </div>
</div>