<div class="d-flex" style="width:100%; height:100%; background-color: var(--primary-bg); flex-direction: column;">
  <h3 class="p-3" style="font-size: 18px; font-weight: bold;">Your Collections</h3>
  <div class="scrollbar1" style="flex-grow: 1; overflow-y: auto;">
    <ng-container *ngFor="let collection of collections; let i = index;">
        <button 
            *ngIf="includesIgnoreCase(collection.title, term)"
            class="no-btn" 
            style="width: 100%!important; text-align: left;"
            (click)="toggleAddToCollection(collection)"
        >
            <app-collection 
                [collection]="collection" 
                [variant]="'v2'"
                [isSongInCollection]="isSongInCollection(collection)"
            ></app-collection>
        </button>
    </ng-container>
  </div>
  <input 
    type="text" 
    class="text-field p-2" 
    placeholder="Search a collection"
    name="term"
    [(ngModel)]="term"
    style="border-radius: 0;"
  >
</div>